body {
background-color: rgb(207, 203, 211);
}
/* signup/signin page */
.signup--container {
    display: flex;
    justify-content: center;
}

.signup--container--card {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 60px 0px;
    align-items: center;
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
}
.signup--container--card div {
    margin-bottom: 10px;
}

.signup--container--card button {
    width: 100px;
}

/* navbar */
.navbar {
    margin: -8px;
}